@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');

body {
  background: #000;
}

.name {
  font-family: poppins;
  font-size: 20px;
  font-weight: bold;
  color: white !important;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
}

.handle {
  font-family: poppins;
  font-style: ;
  color: white !important;
  text-align: center;
}

.bio {
  font-family: poppins;
  font-size: 15px;
  font-weight: regular;
  color: white !important;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
}
